.adminusersdashboard-main {
    text-align:center;
    padding:2rem;
}

.adminusersdashboard-admin-pp {
    width : 150px;
    height : 150px;
    border-radius:50%;
    margin : 2rem;
    overflow:hidden;
}

.admindashboard-userpp-username {
    display:flex;
    align-items:center;
    gap:1rem
}
.adminusersdashboard-header-section {
    display:flex;
    justify-content:center;
    align-items:center;
}



.admindashboard-table {
    width:100%;
    margin-top:6rem;
    margin-bottom:6rem;
    border-collapse:collapse;
}

.adminusersdashboard-users-pp {
    width : 50px;
    height : 50px;
    border-radius:50%;
    overflow:hidden;
    border:5px solid $secondary-color;
}

.logged-admin-pp {
   width : 50px;
    height : 50px;
    border-radius:50%;
    overflow:hidden;
    border:5px solid #00FF00; 
}


.admindashboard-table th,
td {
    padding:2rem;
    border:3px solid $secondary-color;
}

.admindashboard-table td {
    text-align:center;
}

.admindashboard-table thead {
    color:$secondary-color;
    font-size:3rem;
    background:$lighter-primary-color;
}


.adminusersdashboard-edit-button {
    padding:1rem;
    border-radius:20px;
    border:0;
    background:yellow;
    color:black;
    font-size:1.8rem;
    display:block;
}

.adminusersdashboard-edit-button:hover {
    background:#B8860B;
    color:$accent-color;
    cursor:pointer;
}


.adminusersdashboard-delete-button {
    padding:1rem;
    border-radius:20px;
    border:0;
    background:red;
    color:$accent-color;
    font-size:2rem;
    display:block;
}

.adminusersdashboard-delete-button:hover {
    background:$disabled-delete-button;
    cursor:pointer;
}

.adminusersdashboard-action-button-cel {
    display:flex;
    justify-content:space-around;
    gap:1rem;
}


.admindashboard-display-datecel {
    display:none;
}

.admindashboard-display-emailcel {
    display:none;
}

.admindashboard-display-rolcel {
    display:none;
}

.admindashboard-display-actioncel {
    display:none;
}

.admindashboard-logged-admin {
    color:#00FF00;
}

/********* MEDIA QUERIES *************/
/*********** TABLETTE **************/
@media screen and (min-width:600px) and (max-width:900px) {
    .admindashboard-display-rolecel {
        display:table-cell;
    }
    .admindashboard-display-actioncel {
        display:table-cell;
    }
    
    .admindashboard-table td {
        text-align:left;
    }
}


@media screen and (min-width:900px) and (max-width:1050px) {
    .admindashboard-display-rolecel {
        display:table-cell;
    }
    
    .admindashboard-display-emailcel {
        display:table-cell;
    }
    
    .admindashboard-display-actioncel {
        display:table-cell;
    }
}


/**********  DESKTOP **************/
@media screen and (min-width:1050px) {
    .admindashboard-table td {
        text-align:left;
    }
    
    .admindashboard-display-datecel {
       display:table-cell;
    }
    
    .admindashboard-display-emailcel {
        display:table-cell;
    }
    
    .admindashboard-display-rolcel {
        display:table-cell;
    }
    
    .admindashboard-display-actioncel {
        display:table-cell;
    }
}