.folderresult-main {
    text-align:center;
}

.folderresult-article {
    background:$lighter-primary-color;
    border-radius:20px;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    padding:3rem;
    margin-top:3rem;
    margin-bottom:3rem;
}

.folderresult-list li > p {
    width:85%;
}

.folderresult-list {
    list-style:none;
    padding:1rem;
}

.folderresult-list li {
    padding:1rem;
    border-radius:20px;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    margin-top:1rem;
    margin-bottom:1rem;
    transition:all 0.5s ease-in-out;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.folderresult-list li:hover {
    cursor:pointer;
    background:$transparent;
}


.folderresults-start-revision-button {
    text-decoration:none;
    font-size:2rem;
    border-radius:20px;
    margin:2rem;
    display:block;
    padding:1rem;
    color: $accent-color;
    background:$secondary-color;
}

.folderresults-start-revision-button:hover {
    background: $darkest-secondary-color;
    cursor:pointer;
}



/********* MEDIA QUERIES *************/
/*********** TABLETTE **************/
@media screen and (min-width:600px) and (max-width:900px) {
    .folderresult-article {
        width:80%;
    }
}

/**********  DESKTOP **************/
@media screen and (min-width:900px) {
    
    .folderresult-list li {
        width:85%;
    }
    
    .folderresult-article {
        width:50%;
    }
}