/*******  LOGIN PAGE *********/
.loginpage-main {
    padding-bottom:15rem;
    text-align:center;
}

.loginpage-article {
    @extend %centered-block;
    padding:2rem;
    text-align:center;
}

.loginpage-input {
    display:block;
    @extend %centered-block;
    margin-top:2rem;
    width:80%;
    margin-bottom:2rem;
    padding:1rem;
    border-radius:10px;
    border:0 solid $accent-color;
}

.loginpage-button {
    padding: 2rem;
    border-radius:20px;
    border:0;
    font-size:2.5rem;
    margin-top: 2rem;
    color:$accent-color;
    background:$secondary-color;
    display:block;
    @extend %centered-block;
    width: 25rem;
}


.loginpage-button:hover {
    background: $darkest-secondary-color;
    cursor:pointer;
    color:$accent-color;
}




.loginpage-input-label {
  position: relative;
  border:0;
  padding:0;
}

.input-icon {
    position: absolute;
    left:5%;
    top:25%;
}

.loginpage-input-label input {
  background : transparent;
  border:1px solid $accent-color;
  color: $accent-color;
  border-radius:5px;
  outline:none;
  margin-top:0;
  padding: 2.5rem;
  font-size: 2rem;
  width: 100%;
  padding-left:5rem;
}

.loginpage-input-label label {
  position: absolute;
  font-size:2rem;
  top : 35%;
  left: 18%;
  pointer-events:none;
  transform: translateY(-50%);
}

.loginpage-input-label input:focus~ label,
.loginpage-input-label input:valid ~ label {
  top:0;
  font-size:1.5rem;
  background : $primary-color;
  padding-left:3px;
  padding-right:3px;
}



.loginpage-navlink-register {
    color:$accent-color;
}

.loginpage-navlink-register:hover {
    color:$secondary-color;
}


/********* MEDIA QUERIES *************/
/**********  TABLETTE **************/
@media screen and (min-width:600px) and (max-width:900px) {
    
    .loginpage-article {
        max-width:75%;
    }
    
    .loginpage-input-label label {
      left: 12%;
    }
    
    .loginpage-input-label input {
      padding: 2rem;
      font-size: 1.5rem;
      width: 100%;
      padding-left:6rem;
    }
    
    .input-icon {
        position: absolute;
        left:4%;
        top: 20%;
    }
    
    .loginpage-button {
        padding :2rem;
        width:20rem;
    }
}
/**********  DESKTOP **************/
@media screen and (min-width:900px) {
    
    // .loginpage-input-label label {
    //   left: 55px;
    // }

    .loginpage-input {
        width:90%;
    }

    .loginpage-article {
        max-width:40%;
        border:2px solid $secondary-color;
        border-radius:20px;
        background: $transparent;
        padding:4rem;
    }
    
    .loginpage-input-label label {
      left: 14%;
    }
    
    .input-icon {
        position: absolute;
        left:5%;
        top: 20%;
    }
    
    .loginpage-input-label input {
      padding: 2rem;
      font-size: 1.5rem;
      width: 100%;
      padding-left:6rem;
    }
    
    .loginpage-input-label input:focus~ label,
    .loginpage-input-label input:valid ~ label {
      background : #242028;
    }
    
    .loginpage-button {
        padding :1rem;
        width:20rem;
    }
}